@import "../variables/variables.scss";
@import "../components/components.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font;
}

body {
  background-image: url(../../assets/img/portrait-of-young-business-woman-standing-outside-office-buildings-business-and-success-concept.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 90rem;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
  padding: $md 0;
  background: #fff;
  box-shadow: $bsxs;
  z-index: 1;
  .nav-left-side {
    margin-left: $lg;
    font-size: $h1;
    user-select: none;
    span {
      color: $color;
    }
  }
  .nav-right-side {
    ul {
      display: flex;
      height: 50%;
      list-style-type: none;
      margin-right: $lg;
      li {
        margin: $sm;
        padding: $md;
        font-weight: $semi;
        color: $grayscale-dark;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
          color: $sec-color;
        }
        &:nth-child(3) {
          &:hover {
            color: #fff;
            background: $color;
          }
        }
      }
    }
  }
}

.flex-container {
  width: 100%;
  height: 100%;
  .heading-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    padding: $xl;
    height: 40vh;
    background: #0c07ad6e;
    color: #fff;
    user-select: none;
    box-shadow: $sm $sm $md #0000002a;
    .heading-content {
      width: 30%;
      .heading,
      .heading-text,
      .button {
        margin-bottom: $md;
        input {
          width: 83%;
          @include button;
        }
        p {
          width: 80%;
          font-weight: $semi;
        }
      }
    }
  }
  article {
    background: #fff;
  }
  .heading-ads {
    display: flex;
    padding: $xl;
    justify-content: center;
    user-select: none;
    z-index: 1;
    .heading {
      width: 20%;
      margin: 0 auto;
      .title {
        display: flex;
        color: $tert-color;
        i {
          margin-right: $sm;
          color: $confirmation;
          filter: brightness(0.8);
        }
      }
      mark {
        background: none;
        color: $sec-color;
        font-weight: $bold;
      }
    }
  }
}

.card-flex-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: $xl 0;
  box-shadow: inset $bssm;
  .job {
    @include card;
    .role-pill {
      @include pill;
    }
  }
}

.wage-avg {
  display: flex;
  width: 100%;
  padding: $xl 0;
  img {
    width: 600px;
  }
  .right-block {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 45%;
    margin-top: $xl;
    .text {
      margin-bottom: $md;
      color: $grayscale-dark;
      font-weight: $semi;
      h2 {
        margin-bottom: $sm;
        color: $tert-color;
      }
    }
    input {
      @include button
    }
  }
}
footer {
  text-align: center;
  background-color: $tert-color;
  padding: $xl;
  color: $color;
  font-weight: $bold;
  user-select: none;
}