//COLOR
$color: #fac814;
$sec-color: #961fff;
$tert-color: #0c07ad;
$grayscale-light: #bfbfbf;
$grayscale-dark: #737373;
$confirmation: #0cf569;
$decline: #f74d4d;

//FONT
$font: sans-serif;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
$h1: 1.25rem;
$h2: 1.125;
$h3: 1;
$p: .875;
$small: .75;

//MARGIN & PADDING
$xs: .2rem;
$sm: .5rem;
$md: .8rem;
$lg: 1.2rem;
$xl: 2rem;

//SHADOW
$bsxs: 2px;
$bssm: 5px;
$bsmd: 10px;
$bslg: 15px;
$bsxl: 20px;